#newlist{
    border-style: solid;
    width: 320px;
    height: 160px;
    border-radius: 10px;
    color: red;
    margin-left: 500px;
    margin-top: -410px;
    position: relative;
    border-color: red;
    border-width: 1px;
    box-shadow: 8px 8px 10px darkgrey;
    background-color: white;
    z-index: 2;
}
#headlist{
    text-align: center;
}
#myinput{
    margin-left: 55px;
    border-color: red;
    border-radius: 5px;
    border-width: 1px;
    height: 22px;
    width: 210px;
    box-shadow: 3px 3px 6px darkgrey;
}
.addbtn{
    margin-left: 125px;
    margin-top: 15px;
    background-color: red;
    color: white;
    border-radius: 15px;
    width: 60px;
    height: 30px;
    border-color: red;
    border-width: 0px;
    padding left: 8px;
    padding right: 8px;
}
.bg-img{
background-image: url("./Screenshot\ \(7\).png");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
filter: blur(5px);
-webkit-filter: blur(5px);
}
body, html {
height: 100%;
}

* {
box-sizing: border-box;
}

/* for responsive */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px)
{
#newlist{
    margin-left: 17px;
    width: 297px;
    height: 177px;
    margin-top: -384px;
}
#myinput {
    margin-left: 40px;
    height: 34px;
    width: 210px;
}
.addbtn {
    margin-left: 111px;
    width: 80px;
    height: 35px;
}




}